.header
{
    height: 200px;
    padding-top: 200px;
    background-image: url(../media/banner-background.jpg);
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    color: white;
}

.header-intro
{
    padding: 0px 0px 10px 10px;
}

.header-nav
{
    padding: 0px 0px 10px 10px;
}

.header-nav a.nav-link
{
    color: white;
}

footer
{
  width: 100%;
  border-top: solid black 1px;
}


.validation-summary-errors
{

}


td.date {
  white-space: nowrap;
}

.color-new
{
  color: yellow;
}

.color-ok {
  color: limegreen;
}

.color-warning {
  color: darkorange;
}

.menu-status-icon
{
  margin-left: 2em;
  float: right;
}

/* SPINNER */
.loader {
  position: relative;
  text-align: center;
  margin: 15px auto 35px auto;
  z-index: 9999;
  display: block;
  width: 80px;
  height: 80px;
  border: 10px solid rgba(0, 0, 0, .3);
  border-radius: 50%;
  border-top-color: #000;
  animation: spin 1s ease-in-out infinite;
  -webkit-animation: spin 1s ease-in-out infinite;
}

@keyframes spin {
  to {
    -webkit-transform: rotate(360deg);
  }
}

@-webkit-keyframes spin {
  to {
    -webkit-transform: rotate(360deg);
  }
}
