@using Cofoundry.Domain
@using Cofoundry.Web

@model IPageViewModel
@inject ICofoundryTemplateHelper<IPageViewModel> Cofoundry

@Cofoundry.Template.UseDescription("Skabelon til visning af reservationer")


<h1>@Model.PageTitle</h1>

@await Component.InvokeAsync("BookingList")