<h1>Import reservationer fra gammelt booking system</h1>

<form enctype="multipart/form-data" method="post">
  <input id="documentInput" name="document" type="file"/>
  <input type="submit" />
</form>