<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <location path="." inheritInChildApplications="false">
    <system.webServer>
      <modules>
        <!-- Neede to enable PUT and DELETE on hosting -->
        <remove name="WebDAVModule" />
      </modules>
      <handlers>
        <!-- Needed to run ASP.NEt Core on IIS host -->
        <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
        
        <!-- Neede to enable PUT and DELETE on hosting -->
        <remove name="WebDAV" />
      </handlers>
      <!-- Needed to run ASP.NEt Core on IIS host -->
      <aspNetCore processPath="dotnet" arguments=".\Bogevang.dll" stdoutLogEnabled="false" stdoutLogFile=".\logs\stdout" hostingModel="inprocess" />
    </system.webServer>
  </location>
</configuration>
