.header {
  height: 150px;
  margin-bottom: 5px;
  background-image: url(../media/banner-background.jpg);
  background-position: center;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  color: white;
}

nav.navbar 
{
  margin-bottom: 5px;
}

nav.navbar a 
{
  color: #2F8200;
}

nav.navbar a.navbar-brand 
{
  color: #2F8200;
}

footer
{
  width: 100%;
  border-top: solid black 1px;
}


.validation-summary-errors
{

}

[v-cloak] {
  display: none;
}

td.date {
  white-space: nowrap;
}

.number {
  text-align: right;
}

.color-new
{
  color: yellow;
}

.color-ok {
  color: limegreen;
}

.color-warning {
  color: darkorange;
}

.row-cancelled {
  font-style: italic;
  color: darkgray;
}

.clickable {
  text-decoration: underline;
  cursor: pointer;
}

.menu-status-icon
{
  margin-left: 2em;
  float: right;
}

a.fc-col-header-cell-cushion,
a.fc-daygrid-day-number {
  text-decoration: none;
}

.fc-event-title.clickable {
  cursor: pointer;
}

.blog-post-list .blog-post
{
  font-size: 85%;
}

.blog-post-list .blog-post a
{
  text-decoration: none;
  color: #000000;
}

.blog-post-list .blog-post a:hover
{
  text-decoration: underline;
}

.blog-post-list .blog-post .blog-date {
  color: gray;
}

.blog-post-list .blog-post img
{
  width: 100%;
}

.blog-post-summary
{
  margin-bottom: 1rem;
  padding-left: 0.5rem;
  border-left: 2px solid gray;
}

/* SPINNER */
.loader {
  position: relative;
  text-align: center;
  margin: 15px auto 35px auto;
  z-index: 9999;
  display: block;
  width: 80px;
  height: 80px;
  border: 10px solid rgba(0, 0, 0, .3);
  border-radius: 50%;
  border-top-color: #000;
  animation: spin 1s ease-in-out infinite;
  -webkit-animation: spin 1s ease-in-out infinite;
}

@keyframes spin {
  to {
    -webkit-transform: rotate(360deg);
  }
}

@-webkit-keyframes spin {
  to {
    -webkit-transform: rotate(360deg);
  }
}
