@using Cofoundry.Web
@using Bogevang.Blogging.Website.ViewComponents
@model BlogPostListViewModel

@inject ICofoundryHelper<BlogPostListViewModel> Cofoundry

<div class="blog-post-list">
  <h3>Nyheder</h3>

  @foreach (var post in Model.BlogPosts.Items)
  {
    <div class="blog-post">
      <p>
        <span class="blog-date">[@post.PostDate?.ToString("dd-MM-yyyy")]</span>
        <a href="@post.FullPath">@post.ShortDescription</a>
        @if (post.ThumbnailImageAsset != null)
        {
          <img src="@Cofoundry.Routing.ImageAsset(post.ThumbnailImageAsset, 150, 150)" />
        }
      </p>
    </div>
  }

</div>