<div class="modal" id="loaderOverlay">
  <div class="modal-dialog modal-sm modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-body text-center">
        <div class="loader"></div>
        <div class="loader-txt">
          <p>Øjeblik ...</p>
        </div>
      </div>
    </div>
  </div>
</div>
