@using Bogevang.Common.Utility
@using Bogevang.Booking.Domain.Bookings.Commands
@model BookingRequestCommand

<form id="requestApp">
  @Html.AntiForgeryToken()

  <partial name="_VueErrorSummary" />

  <div class="row align-items-center mb-3">
    @await Html.VueEditorColFor(m => m.ArrivalDate)
    @await Html.VueEditorColFor(m => m.DepartureDate)
  </div>

  <div class="row mb-3">
    @await Html.VueEditorColFor(m => m.OnlySelectedWeekdays)
    <div class="col" v-if="onlySelectedWeekdays">
      @await Html.VueEditorFor(m => m.SelectedWeekdays)
    </div>
  </div>

  @await Html.VueEditorRowFor(m => m.TenantCategoryId)
  @await Html.VueEditorRowFor(m => m.TenantName)
  @await Html.VueEditorRowFor(m => m.Purpose)
  @await Html.VueEditorRowFor(m => m.ContactName)
  @await Html.VueEditorRowFor(m => m.ContactPhone)
  @await Html.VueEditorRowFor(m => m.ContactAddress)
  @await Html.VueEditorRowFor(m => m.ContactCity)
  @await Html.VueEditorRowFor(m => m.ContactEMail)
  @await Html.VueEditorRowFor(m => m.Comments)
  @await Html.VueEditorRowFor(m => m.ApproveTerms)

  <button type="button" id="sendButton" class="btn btn-primary" v-on:click="send">Send</button>
  <button type="button" id="cancelButton" class="btn btn-secondary" v-on:click="cancel">Fortryd</button>

</form>

<partial name="_VueLoaderOverlay" />

<script defer src="~/js/v-calendar/v-calendar.min.js"></script>
<script defer src="~/js/forms-editor-plugin.js"></script>
<script defer src="~/booking/scripts/booking-request.js"></script>
