@using Bogevang.Common.Utility
@using Bogevang.Booking.Domain.Bookings.Commands
@model BookingRequestCommand

@inject Microsoft.AspNetCore.Antiforgery.IAntiforgery Xsrf

<form id="requestApp" requestVerificationToken="@Xsrf.GetAndStoreTokens(Context).RequestToken">

  <partial name="_VueErrorSummary" />

  <div class="row mb-3">
    @await Html.VueEditorColFor(m => m.ArrivalDate)
    @await Html.VueEditorColFor(m => m.DepartureDate)
  </div>

  @await Html.VueEditorRowFor(m => m.TenantCategoryId)
  @await Html.VueEditorRowFor(m => m.TenantName)
  @await Html.VueEditorRowFor(m => m.Purpose)
  @await Html.VueEditorRowFor(m => m.ContactName)
  @await Html.VueEditorRowFor(m => m.ContactPhone)
  @await Html.VueEditorRowFor(m => m.ContactAddress)
  @await Html.VueEditorRowFor(m => m.ContactCity)
  @await Html.VueEditorRowFor(m => m.ContactEMail)
  @await Html.VueEditorRowFor(m => m.Comments)

  <button type="button" id="sendButton" class="btn btn-primary" v-on:click="send">Send</button>
  <button type="button" id="cancelButton" class="btn btn-secondary" v-on:click="cancel">Fortryd</button>

</form>

<script defer src="/booking/scripts/booking-request.js"></script>
