@using Bogevang.Common.Utility
@using Bogevang.Booking.Domain.Bookings.Commands
@model BookingRequestCommand

<form id="requestApp">
  @Html.AntiForgeryToken()

  <partial name="_VueErrorSummary" />

  <div class="row align-items-start justify-content-start">

    <div class="col-lg-4 mb-3">
      <div><label for="period" class="form-label">Udlejningsperiode (klik start og slut)</label></div>
      <v-date-picker v-model="period" is-range v-on:change="clearValidation" mode="date" timezone="UTC" :model-config="datePickerConfig">
      </v-date-picker>
      <div id="arrivalDate_feedback" class="invalid-feedback"></div>
      <div id="departureDate_feedback" class="invalid-feedback"></div>
    </div>

    <div class="col-lg-6">
      @await Html.VueEditorRowFor(m => m.OnlySelectedWeekdays)
      <div class="row mb-3">
        <div class="col" v-if="onlySelectedWeekdays">
          <p>Vælg hvilke dage i perioden du ønsker at bruge hytten (det kan fx være alle tirsdage i en måned).</p>
          @await Html.VueEditorFor(m => m.SelectedWeekdays)
        </div>
      </div>
    </div>
  </div>

  @await Html.VueEditorRowFor(m => m.Location)
  @await Html.VueEditorRowFor(m => m.TenantCategoryId, showInactiveItems: false)
  @await Html.VueEditorRowFor(m => m.TenantName)
  @await Html.VueEditorRowFor(m => m.Purpose)
  @await Html.VueEditorRowFor(m => m.ContactName)
  @await Html.VueEditorRowFor(m => m.ContactPhone)
  @await Html.VueEditorRowFor(m => m.ContactAddress)
  @await Html.VueEditorRowFor(m => m.ContactCity)
  @await Html.VueEditorRowFor(m => m.ContactEMail)
  @await Html.VueEditorRowFor(m => m.Comments)
  @await Html.VueEditorRowFor(m => m.ApproveTerms)

  <button type="button" id="sendButton" class="btn btn-primary" v-on:click="send">Send</button>
  <button type="button" id="cancelButton" class="btn btn-secondary" v-on:click="cancel">Fortryd</button>

</form>

<partial name="_VueLoaderOverlay" />

<script defer src="~/js/v-calendar/v-calendar.min.js"></script>
<script defer src="~/js/forms-editor-plugin.js"></script>
<script defer src="~/booking/scripts/booking-request.js"></script>
