@using Bogevang.Common.Utility
@using Bogevang.Booking.Domain.Bookings.CustomEntities
@model BookingDataModel

<form id="bookingApp">
  @Html.AntiForgeryToken()

  <ul class="nav nav-tabs" id="editorTabs" role="tablist">
    <li class="nav-item" role="presentation">
      <button class="nav-link active" id="main-tab" data-bs-toggle="tab" data-bs-target="#mainTabArea" type="button" role="tab" aria-controls="mainTabArea" aria-selected="true">Start</button>
    </li>
    <li class="nav-item" role="presentation">
      <button class="nav-link" id="finance-tab" data-bs-toggle="tab" data-bs-target="#financeTabArea" type="button" role="tab" aria-controls="financeTabArea" aria-selected="false">Økonomi</button>
    </li>
    <li class="nav-item" role="presentation">
      <button class="nav-link" id="history-tab" data-bs-toggle="tab" data-bs-target="#historyTabArea" type="button" role="tab" aria-controls="historyTabArea" aria-selected="false">Historik</button>
    </li>
  </ul>

  <nav class="navbar navbar-light bg-light">
    <div class="container-fluid">
      <div class="btn-group" role="group">
        <button type="button" id="editButton" class="btn btn-outline-secondary" v-on:click="edit">Ret</button>
        <button type="button" id="saveButton" class="btn btn-outline-secondary" v-on:click="save" disabled>Gem</button>
        <button type="button" id="cancelButton" class="btn btn-outline-secondary" v-on:click="cancel" disabled>Fortryd</button>
        <div class="btn-group" role="group">
          <button id="actionGroupButton" type="button" class="btn btn btn-outline-secondary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
            Handlinger
          </button>
          <ul class="dropdown-menu" aria-labelledby="actionGroupButton" style="width: 15em">
            <li><button id="approveButton" type="button" class="dropdown-item" v-on:click="approve()">Godkend <i v-if="isApproved" class="menu-status-icon fas fa-check color-ok" title="Reservationen er allerede godkendt"></i></button></li>
            <li><button id="rejectButton" type="button" class="dropdown-item" v-on:click="reject()">Afvis <i v-if="isRejected" class="menu-status-icon fas fa-check color-ok" title="Reservationen er allerede afvist"></i></button></li>
            <li><button id="sendWelcomeLetterButton" type="button" class="dropdown-item" v-on:click="sendWelcomeLetter()">Send velkomstbrev <i v-if="welcomeLetterIsSent" class="menu-status-icon fas fa-check color-ok" title="Velkomstbrevet er allerede sendt"></i></button></li>
            <li><button id="sendMailButton" type="button" class="dropdown-item" v-on:click="sendMail()">Send mail</button></li>
            <li><button id="deleteButton" type="button" class="dropdown-item" v-on:click="deleteBooking('/reservationer')">Slet</button></li>
          </ul>
        </div>
      </div>
      <div class="btn-group" role="group">
        <button type="button" id="selfServiceButton" class="btn btn-outline-secondary" v-on:click="openSelfService()" title="Klik for at se lejers selvbetjeningsside.">Selvbetjening</button>
      </div>
      <div class="btn-group" role="group">
        <button type="button" id="closeButton" class="btn btn-outline-primary" v-on:click="close('/reservationer')">Afslut</button>
      </div>
    </div>
  </nav>

  <partial name="_VueErrorSummary" />

  <div class="tab-content" id="editorTabsContent">
    <div class="tab-pane fade show active" id="mainTabArea" role="tabpanel" aria-labelledby="main-tab">
      <div class="row mb-3">
        @await Html.VueEditorColFor(m => m.ArrivalDate)
        @await Html.VueEditorColFor(m => m.DepartureDate)
      </div>

      @await Html.VueEditorRowFor(m => m.TenantCategoryId)
      @await Html.VueEditorRowFor(m => m.TenantName)
      @await Html.VueEditorRowFor(m => m.Purpose)
      @await Html.VueEditorRowFor(m => m.ContactName)
      @await Html.VueEditorRowFor(m => m.ContactPhone)
      @await Html.VueEditorRowFor(m => m.ContactAddress)
      @await Html.VueEditorRowFor(m => m.ContactCity)
      @await Html.VueEditorRowFor(m => m.ContactEMail)
      @await Html.VueEditorRowFor(m => m.Comments)
      @await Html.VueEditorRowFor(m => m.RentalPrice)
      @await Html.VueEditorRowFor(m => m.BookingState)
    </div>

    <div class="tab-pane fade" id="financeTabArea" role="tabpanel" aria-labelledby="finance-tab">
      <div class="row mb-3">
        @await Html.VueEditorColFor(m => m.ElectricityReadingStart)
        @await Html.VueEditorColFor(m => m.ElectricityReadingEnd)
      </div>
      <div class="row mb-3">
        <div class="col">
        </div>
        @await Html.VueEditorColFor(m => m.ElectricityPriceUnit)
      </div>
      <div class="row mb-3">
        <div class="col">
          <label for="kwhUsed" class="form-label">Forbrug (kWh)</label>
          <input type="text" class="form-control" id="kwhUsed" v-model="kwhUsed" readonly>
        </div>
        <div class="col">
          <label for="electricityPriceTotal" class="form-label">El-omkostning (kr)</label>
          <input type="text" class="form-control" id="electricityPriceTotal" v-model="electricityPriceTotal" readonly>
        </div>
      </div>
      <div class="row mb-3">
        @await Html.VueEditorColFor(m => m.DepositReceived)
        @await Html.VueEditorColFor(m => m.Deposit)
      </div>
      <div class="row mb-3">
        <div class="col">
        </div>
        <div class="col">
          <label for="totalPrice" class="form-label">At betale (kr)</label>
          <input type="text" class="form-control" id="totalPrice" v-model="totalPrice" readonly>
        </div>
      </div>
    </div>
    
    <div class="tab-pane fade" id="historyTabArea" role="tabpanel" aria-labelledby="history-tab">
      <table class="table">
        <thead>
          <tr>
            <th>Dato</th>
            <th>Tekst</th>
            <th>Bruger</th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="entry in logEntries">
            <td>{{datestr2localTimestamp(entry.timestamp)}}</td>
            <td>{{entry.text}}</td>
            <td>{{entry.username}}</td>
          </tr>
        </tbody>
      </table>
    </div>

  </div>
</form>

<partial name="_VueLoaderOverlay" />

<script src="~/js/vuejs-datepicker/vuejs-datepicker.min.js"></script>
<script src="~/js/vuejs-datepicker/intl/da.js"></script>
<script defer src="~/js/forms-editor-plugin.js"></script>
<script defer src="~/booking/scripts/edit-booking.js"></script>
