@using Bogevang.Common.Utility
@using Bogevang.Booking.Domain.Bookings.CustomEntities
@model BookingDataModel

@inject Microsoft.AspNetCore.Antiforgery.IAntiforgery Xsrf

<form id="bookingApp" requestVerificationToken="@Xsrf.GetAndStoreTokens(Context).RequestToken">

  <div class="btn-toolbar justify-content-between mt-2 mb-2" role="group">
    <div class="btn-group" role="group">
      <button type="button" id="editButton" class="btn btn-outline-secondary" v-on:click="edit">Ret</button>
      <button type="button" id="saveButton" class="btn btn-outline-secondary" v-on:click="save" disabled>Gem</button>
      <button type="button" id="cancelButton" class="btn btn-outline-secondary" v-on:click="cancel" disabled>Fortryd</button>
      <div class="btn-group" role="group">
        <button id="actionGroupButton" type="button" class="btn btn btn-outline-secondary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
          Handlinger
        </button>
        <ul class="dropdown-menu" aria-labelledby="actionGroupButton">
          <li><a id="deleteButton" class="dropdown-item" href="#" v-on:click="deleteBooking('/reservationer')">Slet</a></li>
          <li><a class="dropdown-item" href="#">... mere senere ...</a></li>
        </ul>
      </div>
    </div>
    <div class="btn-group" role="group">
      <button type="button" id="closeButton" class="btn btn-outline-primary" v-on:click="close('/reservationer')">Afslut</button>
    </div>
  </div>

  <partial name="_VueErrorSummary" />

  <div class="row mb-3">
    @await Html.VueEditorColFor(m => m.ArrivalDate)
    @await Html.VueEditorColFor(m => m.DepartureDate)
  </div>

  @await Html.VueEditorRowFor(m => m.TenantCategoryId)
  @await Html.VueEditorRowFor(m => m.TenantName)
  @await Html.VueEditorRowFor(m => m.Purpose)
  @await Html.VueEditorRowFor(m => m.ContactName)
  @await Html.VueEditorRowFor(m => m.ContactPhone)
  @await Html.VueEditorRowFor(m => m.ContactAddress)
  @await Html.VueEditorRowFor(m => m.ContactCity)
  @await Html.VueEditorRowFor(m => m.ContactEMail)
  @await Html.VueEditorRowFor(m => m.Comments)
  @await Html.VueEditorRowFor(m => m.RentalPrice)
  @await Html.VueEditorRowFor(m => m.BookingState)
</form>

<script defer src="/booking/scripts/edit-booking.js"></script>
