
<div id="calendar">
<script>
  document.addEventListener('DOMContentLoaded', function () {
    var calendarEl = document.getElementById('calendar');
    var calendar = new FullCalendar.Calendar(calendarEl, {
      initialView: 'dayGridMonth',
      height: "auto",
      locale: 'da',
      firstDay: 1,
      events: '/api/calendar',
      eventDidMount: function (info) {
        if (info.event.extendedProps.description != null) {
          info.el.title = info.event.extendedProps.description;
          info.el.classList.add("clickable");
        }
      },
      eventClick: function (info) {
        if (info.event.extendedProps.booking_id != null) {
          const url = '/reservationer/edit#' + info.event.extendedProps.booking_id;
          window.location = url;
        }
      }
    });
    calendar.render();
  });
</script>
</div>

<link href="/calendar/main.css" rel="stylesheet" />
<script defer src="/calendar/main.js"></script>
<script defer src='/calendar/locales/da.js'></script>